weather_data/death_valley_2021_full.csv
weather_data/death_valley_2021_simple.csv
weather_data/sitka_weather_07-2021_simple.csv
weather_data/sitka_weather_2021_full.csv
weather_data/sitka_weather_2021_simple-original.csv
weather_data/sitka_weather_2021_simple.csv
eq_data/eq_data_1_day_m1.geojson
eq_data/eq_data_7_day_m1.geojson
eq_data/eq_data_30_day_m1.geojson
eq_data/readable_eq_data.geojson
